################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CrudTest/bin/Debug/net6.0
/CrudTest/Properties
/CrudTest/appsettings.Development.json
/CrudTest/obj
*.sln
/CrudTest/Migrations
